html, body, .App {
  background: #222831;
  color: #fff;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
}

.Header {
  padding-left: 8px;
}

.Sidebar {
  flex: 1;
  background: #31363F;
  border-radius: 8px;
  height: 100%;
  padding: 4px;
}

.ChatBox {
  flex: 3;
  padding: 4px;
  background: #31363F;
  border-radius: 8px;
  height: 100%;
}

.MainBox {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 500px;
}

.Placeholder {
}

.ChatBox {
  display: flex;
  flex-direction: column-reverse;
}

.Input {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
}

.MessageInput {
  background: #31363F;
  flex: 10;
  color: #fff;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
}

.SendButton {
  background: #76ABAE;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  flex:1;
  width: 100%;
}